body {
	font-family: Arial;
	background-color: navy;
}

section {
	padding: 10px 400px;
}

.tweet {
	padding: 7px 12px;
	background-color: aqua;
	border: 5px solid #bbb;
	border-radius: 10px;
}

.back-home {
	display: none;
}

.displayed {
	display: block;
}

.handle {
	color: blue;
}